@font-face {
    font-family: 'BB_Light';
    src: url(../fonts/BancoDoBrasilRCTextos-Light.woff);
}

@font-face {
    font-family: 'BB_Regular';
    src: url(../fonts/BancoDoBrasilRCTextos-Regular.ttf);
}

@font-face {
    font-family: 'BB_Medium';
    src: url(../fonts/BancoDoBrasilRCTextos-Medium.woff2);
}

@font-face {
    font-family: 'BB_Bold';
    src: url(../fonts/BancoDoBrasilRCTextos-Bold.woff);
}

html, body {
    background-color: rgb(0, 45, 75);
    background-image: url(../img/bg.png);
    margin: 0;
    height: 100%;
    width: 100%;
}

#title-bg {
    height: 100px;
    width: 100%;
    background-color: rgb(252, 252, 48);
}

#title-text {
    font-family: 'BB_Bold', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: rgb(70, 94, 255);
    padding-top: 20px; 
}

.wrapper {
    font-size: 1.4em;
    width: 600px;
    margin: 100px auto; 
    font-family: 'BB_Light', Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 0;
    width: 600px;
}

.field {
    display: flex;
    align-items: center; 
    margin: 10px 0;
    width: 100%; 
}

label {
    flex: 0 0 200px; 
    text-align: left; 
    margin-right: 10px; 
    font-size: 1em;
}

input,
select {
    font-family: 'BB_Medium', Arial, Helvetica, sans-serif;
    border-radius: 8px;
    width: 100%; 
    height: 30px;
    font-size: 0.9em;
    padding: 5px;
    box-sizing: border-box; 
    line-height: 1.2;
}

#calcular {
    display: block;
    border-radius: 10px;
    position: relative;
    top: 10px;
    margin: 20px auto; 
    background-color: rgb(252, 252, 48);
    height: 40px;
    width: 400px;
    color: rgb(70, 94, 255);
    font-family: 'BB_Medium', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

#calcular:hover {
    background-color: rgb(252, 215, 48);
}

#calcular:active {
    background-color: rgba(252, 215, 48, 0.863);
}

#data-wrapper {
    position: relative;
    top: 30px;
    margin-bottom: 100px;
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
}

#taxa,
#valor-liberado,
#saldo-devedor {
    margin: 20px;
}

::placeholder {
    color: black;
}

#saldo-devedor {
    font-family: 'BB_Bold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

/* ITENS DO DROPDOWN */
.select2-results__option {
    font-size: 1em;
    font-family: 'BB_Medium', Arial, Helvetica, sans-serif;
}

/* DROPDOWN */
#select2-instituicao-container {
    font-family: 'BB_Medium', Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}

/* WRAPPER DO SELECTOR */
.select2-selection {
    margin-top: 8px;
}

#footer {
    background: rgb(252, 252, 48);
    height: 80px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center; 
}

#footer p {
    font-family: 'BB_Light', Arial, Helvetica, sans-serif;
    margin: 30px;
    color: rgb(0, 45, 75);
}

#taxa a{
    text-decoration: none;
    color: white
}

dialog{
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0/.3);
    width: 60%;
    font-size: 0.8em;
}
dialog::backdrop{
    background-color: rgb(0 0 0/.6);
}

#closeDialog{
    border: none;
    cursor: pointer;
    background-color: rgb(252, 252, 48);
    font-size: 0.7em;
    color: rgb(70, 94, 255);
    font-family: 'BB_Regular';
    width: 100px;
    height: 30px;
    border-radius: 10px;

}


@media (max-width: 768px) {
    .wrapper {
        width: 90%; 
        padding: 0 10px; 
    }

    #title-bg {
        height: 80px; 
    }

    #title-text {
        font-size: 2.2em; 
        right: 20px; 
    }

    label {
        font-size: 0.9em; 
        
    }

    input,
    select {
        font-size: 0.8em; 
        height: 35px; 
    }

    #calcular {
        width: 100%; 
        font-size: 1em; 
    }

    #data-wrapper {
        font-size: 1.1em; 
    }

    #footer p {
        font-size: 0.8em; 
        margin: 5px; 
    }
}


@media (max-width: 480px) {
    .field {
        flex-direction: column; 
        margin: 10px 0; 
    }

    label {
        flex: 0 0 0px; 
        margin-bottom: 10px;
        font-size: 1em; 
    }

    input,
    select {
        width: 100%;
        height: 40px; 
        font-size: 0.9em; 
    }

    #calcular {
        width: 100%; 
        font-size: 1.1em; 
        height: 45px; 
    }

    #footer {
        padding: 10px; 
    }

    #footer p {
        margin: 0; 
    }
}